<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Simple Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                  <th>#</th>
                  <th>Nome</th>
                  <th>Categoria</th>
                  <th>Qtd Minima</th>
                  <th>Qtd Estoque</th>
                  <th>Preço Custo</th>
                  <th>Preço Venda</th>
                  <th>  </th>
              </thead>
              <tbody>
                <tr *ngFor="let produto of produtos">
                  <td>{{produto.id}}</td>
                  <td>{{produto.nome}}</td>
                  <td>{{produto.categoria}}</td>
                  <td>{{produto.quantidadeEstoque}}</td>
                  <td>{{produto.quantidadeMinima}}</td>
                  <td>R${{produto.precoCusto}}</td>
                  <td>R${{produto.precoVenda}}</td>
                  <td>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger">X</button>
                    <button type="button" class="btn btn-info"><i class="business"></i></button>
                  </div>
                </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
