  <div class="main-content" style="margin-top: 70px;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class-="card-header">
            <div>
              <h5 class="title" style="margin-left: 10px;">Produtos</h5>
            </div>
            <div>
              <div>
                <button type="button" class="btn btn-success">Novo Produto</button>
              </div>
           </div>

          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Qtd Minima</th>
                  <th scope="col">Qtd Estoque</th>
                  <th scope="col">Preço Custo</th>
                  <th scope="col">Preço Venda</th>
                  <th>  </th>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let produto of produtos">
                <td>{{produto.id}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.categoria}}</td>
                <td>{{produto.quantidadeEstoque}}</td>
                <td>{{produto.quantidadeMinima}}</td>
                <td>R${{produto.precoCusto}}</td>
                <td>R${{produto.precoVenda}}</td>
                <td>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-danger">X</button>
                  <button type="button" class="btn btn-info">6</button>
                </div>
              </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

